[submodule "Packages/CCU"]
	path = Packages/CCU
	url = git@github.com:Unity-Technologies/ConditionalCompilationUtility.git 
[submodule "Packages/UnityMeshSimplifier"]
	path = Packages/UnityMeshSimplifier
	url = git@github.com:Unity-Technologies/UnityMeshSimplifier.git 
